@{
    ViewBag.Title = "Unauthorised Content";
}

<div class="message warning" style="padding:10px;">
	<span></span>
	<h6>Unauthorised Content</h6>
	<p>You do not currently have permission to access the page you have requested. <br />
        If you feel this is incorrect, please contact your local admin.</p>
</div>