@{
    ViewBag.Title = "Administration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<br />
<fieldset>
    <legend>@Html.ActionLink("User management", "Index", "Users")</legend>
    <p>Allows managers and admins to add, update and block named users</p>
</fieldset>
@if ((User as Wardship.ICurrentUser).AccessLevel == Wardship.AccessLevel.Admin)
{
    <br />
    <fieldset>
        <legend>@Html.ActionLink("Templates", "Index", "Templates")</legend>
        <div>Allows admin users to maintain letter tempaltes.</div>
    </fieldset>
}
