@model Wardship.Models.ErrorModel

@{
    ViewBag.Title = "Closed File";
}

<div class="message warning" style="padding:10px;">
	<span></span>
	<h6>Warning</h6>
	<div class="quote"><blockquote>@Model.ErrorMessage</blockquote></div>
    <p>If you feel this is an error, and that you should be able to make changes, please raise a helpdesk call.</p>
</div>