
@{
    ViewBag.Title = "Not Logged In";
}

<div class="message warning" style="padding:10px;">
	<span></span>
	<h6>Not Logged In</h6>
	<p>Please @Html.ActionLink("Click Here","LogOn", "Account") to log in and try again.</p>
</div>